@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

body::-webkit-scrollbar {
  width: 8px;  
}
body::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.8) ;
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,0.336) ; 
  border-radius: 20px; 
}

*{
    margin: 0px;
    scroll-behavior: smooth;
}

.all{
    width: 100%px;
    min-height: 100%;
    background-image: url(Pics/all_bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.home{
    width: 100%px;
    height: 100%;
    background-image: linear-gradient(black, black), url(Pics/bg.png);
    background-size: cover;
    background-position: center;
}

.nav{
    padding: 10px;
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: rgba(255,255,255,0.2);
    box-shadow: 0 0 10px black;
    color: white;
}

.nav h1{
    font-family: 'Raleway';
}

.btns{
    align-self: center;
    display: block;
}

.btns button{
    background-color: transparent;
    border: none;
    font-family: 'Raleway';
    font-weight: bold;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    color: white;
    transition: .4s;
}

.btns button:hover{
    background: rgba(0,0,0,0.3);
    transition: .4s;
    cursor: pointer;
}

.text{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    text-shadow: 0 0 20px black;
    width: 85%;
    padding: 20px;
}

.text h1{
    font-family: 'Raleway';
    font-size: 60px;
    color: white;
}

.text h2{
    font-family: 'Raleway';
    color: white;
}

.text button{
    background: transparent;
    border: none;
    font-family: 'Raleway';
    font-weight: bold;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px; 
    font-size: 20px;
    color: white;
    border: 1px solid white;
    transition: .4s;
}

.text button:hover{
    background: rgba(255,255,255,0.2);
    box-shadow:0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);
    transition: .4s;
    cursor: pointer;
}

.about{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%px;
    height: auto;
    display: flex;
    justify-content: center;
    color: black;
    background: gray;
    flex-wrap: wrap;
}

.about h1{
    font-family: 'Raleway';
    align-self: center;
    font-size: 50px;
}

.p{
    margin: 10px;
}

.p p{
    max-width: 400px;
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 15px;
}

.p button{
    background: rgba(0,0,0,0.2);
    border: none;
    font-family: 'Raleway';
    padding: 5;
    margin-top: 10px;
    border-radius: 10px; 
    font-size: 20px;
    color: white;
    border: 1px solid white;
    transition: .4s;
}

.p button:hover{
    background: rgba(0,0,0,0.4);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);
    transition: .4s;
    cursor: pointer;
}

.skills{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%px;
    height: auto;
    color: purple;
    text-align: center;
    background-color: lightblue;
}

.skills h1{
    font-family: 'Raleway';
    align-self: center;
    font-size: 50px;
}

.skills button{
    background-color: darkolivegreen;
    background-color: aqua;
    border: none;
    font-family: 'Raleway';
    font-weight: bold;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px; 
    font-size: 20px;
    color: red;
    margin-top: 5px;
    transition: .4s;
    border: 1px solid red;
}

.skills button:hover{
    background: rgba(255,255,255,0.2);
    box-shadow:0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);
    transition: .4s;
    cursor: pointer;
}

.edu{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%px;
    height: auto;
    color: white;
    background:pink;
}

.edu h1{
    font-family: 'Raleway';
    text-align: center;
    font-size: 50px;
    color: darkred;
}

.schl{
    padding: 20px;
    background: black;
    border-radius: 10px;
    margin: 10px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    transition: transform .3s;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

.sc{
    width: 250px;
    height: auto;
}

.ac{
    width: 200px;
    height: auto;
}

.content{
    margin: 10px;
    font-family: 'Raleway';
    align-self: center;
}

.content h2{
    font-size: 30px;
}

.content p{
    max-width: 400px;
    font-weight: bold;
    font-size: 15px;
}

.schl:hover{
    transform: scale(1.02);
    background: rgba(0,0,0,0.8);
}

.work{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%px;
    height: auto;
    color: darkblue;
    background-color: brown;
}

.work h1{
    font-family: 'Raleway';
    text-align: center;
    font-size: 50px;
}

.works{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.work1{
    padding: 10px;
    margin: 8px;
    background: rgba(255,255,255,0.1);
    width: 250px;
    border-radius: 10px;
    height: auto;
    font-family: 'Raleway';
    text-align: center;
    transition: transform .5s;
}

.work1:hover{
    transform: scale(1.04);
}

.work1 img{
    width: 250px;
    border-radius: 10px;
}

.work1 h2{
    margin-top: 10px;
    font-size: 25px;
}

.work1 p{
    font-weight: bold;
    font-size: 15px;
    margin-top: 5px;
}

.work1 button{
    background: rgba(0,0,0,0.2);
    border: none;
    font-family: 'Raleway';
    font-weight: bold;
    padding: 5px;
    font-size: 15px;
    border-radius: 10px; 
    font-size: 20px;
    color: white;
    margin-top: 10px;
    width: 100%;
    transition: .4s;
    border: 1px solid white;
}

.work1 button:hover{
    background: rgba(255,255,255,0.1);
    box-shadow:0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);
    transition: .4s;
    cursor: pointer;
}



.copy{
    padding: 20px;
    background: rgba(0,0,0,0.7);
}

.copy h3{
    font-family: 'Raleway';
    text-align: center;
    color: white;
}

.sidenav{
    display: none;
}

.io{
    display: none;
}

@media only screen and (max-width: 685px) {
    .nav h1{
        align-self: center;
    }
    
    .io button{
        padding: 10px;
        background-color: transparent;
        border: 1px solid grey;
        border-radius: 5px;
        color: white;
        font-size: 20px;
    }
    
    .io{
        display: block;
    }
    
    .sidenav {
       height: 100%;
       width: 0; 
       position: fixed; 
       z-index: 1;
       top: 0; 
       left: 0;
       background: #1d1d1d; 
       overflow-x: hidden; 
       padding-top: 60px; 
       transition: 0.5s; 
       display: block;
    }

   .sidenav a {
       text-decoration: none;
       font-family: 'Raleway';
       color: white;
       font-weight: 700;
       transition: 0.5s;
       display: block;
       font-size: 20px;
       text-align: center;
       padding-top: 16px;
       padding-bottom: 32px;
    }

   .sidenav a:hover {
       color:royalblue;
       transition: 0.5s;
    }
    
   .sidenav .closebtn {
       position: absolute;
       top: 0;
       right: 25px;
       font-size: 36px;
       margin-left: 50px;
    }
    
    .btns{
        display: none;
    }
    
    .about{
        text-align: center;
    }
}
